html,body{
    margin: 0;
    height: 100vh;
    max-height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}
* {
    box-sizing: border-box;
    
}
body.dark {
    
    --preview-color: #161A1D;
    --body-color: #3d4247;
    --sidebar-color: #242526;
    --button-color: #FFF;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --background-scroll-color: #DDD;
    --text-color: #CCC;
    --text-color-black: #1D2125;
    --scroll-color: #808080;
    --board-color: #101204;
    --board-color-items: #22272B;
    --icon-color: #DEE4EA;
    --item-color-hover: 1px solid #479ade;
    --color-datepicker: #4BCE97;
    --border: 1px solid rgb(0, 0, 0);
    --transparent-background: rgba(129, 119, 119, 0.3);
}
:root{
    --dynamic-text: #172B4D;
    --delete-color: #C9372C;
    --preview-color: #F7F8F9;
    --body-color: #eaedf7;
    --sidebar-color: #FFF;
    --button-color: #FFF;
    --primary-color: #d3d3d3;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --background-scroll-color: #DDD;
    --text-color: #707070;
    --icon-color: #091E42;
    --text-color-black: #1D2125;
    --scroll-color: #808080;
    --board-color: #f1f2f4;
    --board-color-items: #FFFFFF;
    --color-datepicker: #4BCE97;
    --item-color-hover: 1px solid #1a1818;
    --border: 1px solid lightgray;
    --transparent-background: rgba(76, 68, 68, 0.3);
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
    --tran-06: all 0.7s ease;
}


